<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17307277441-3d3a5ov5h34ncskuu3dj30o3h4vrem6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17307277441-3d3a5ov5h34ncskuu3dj30o3h4vrem6l</string>
	<key>API_KEY</key>
	<string>AIzaSyBZIwXuTtQNn1qkC4G64OrR4QdcVVsm9ts</string>
	<key>GCM_SENDER_ID</key>
	<string>17307277441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rahuljangid.medvault</string>
	<key>PROJECT_ID</key>
	<string>gen-lang-client-0597938563</string>
	<key>STORAGE_BUCKET</key>
	<string>gen-lang-client-0597938563.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17307277441:ios:1f36806caf9fb0e7861580</string>
</dict>
</plist>